<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="redisConnectionString" connectionString="devcon2014.redis.cache.windows.net,ssl=true,password=rXW6B2Nw9QI6u4KjPqgW8/htSWN5rSiE42VMBfd0IV0=" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
</configuration>